/* Import GoogleFont */

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* All the file */

* {
	font-family: "Rubik", sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}

a {
	color: #f16c05;
}

.italic {
	font-style: italic;
	font-size: small;
}

/* Body */

body {
	background: #f3f4f5;
}

/* NavBar */

nav {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 10%;
	padding: 32px 0px;
	background-color: #003547;
	width: 83.6%;
	margin: auto;
	border-radius: 15px;
}

.navbar-img > img {
	width: 150px;
	height: 80px;
}

#nav-item {
	font-size: large;
	font-weight: 600;
	color: #ffffff;
}

#nav-item a {
	color: #ffffff;
}

#nav-item::after {
	content: "";
	display: block;
	position: relative;
	width: 100%;
	height: 3px;
	background: #f16c05;
	transform: scaleX(0);
	transition: transform 0.1s ease-in-out;
}

#nav-item:hover::after {
	transform: scaleX(1);
}

.nav_burger {
	display: none;
}

#burger-action {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 10%;
	padding: 32px 0px;
	background-color: #003547;
	width: 50%;
	/* margin: auto; */
	/* border-radius: 15px; */
}

/* Progress bar */

#progress {
	position: fixed;
	bottom: 20px;
	right: 10px;
	height: 70px;
	width: 70px;
	display: none;
	place-items: center;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#progress-value {
	display: block;
	height: calc(100% - 15px);
	width: calc(100% - 15px);
	background-color: #ffffff;
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: 35px;
	color: #001a2e;
}

/* Main */

main {
	background-color: #ffffff;
	width: 75%;
	margin: auto;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	padding: 0 5em;
	border-radius: 15px;
}

/* Sommaire */

.sommaire {
	color: #e4e4e4;
	/* border-style: solid; */
	/* border-color: #f16c05; */
	background-color: #003547;
	border-radius: 15px;

	padding: 1rem;
	margin-right: 65%;
}

/* Buttons */

.btn {
	background-color: #f16c05;
	display: inline-block;
	padding: 0.8rem 1.6rem;
	border-radius: 5px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: none;
	transition: all 0.7s;
}

.btn:hover {
	color: #f16c05;
	background-color: #1d1d1d;
}

/* Table */

table {
	border-collapse: collapse;
	width: 1000px;
}
th {
	background-color: #003547;
	color: white;
}
th,
td {
	text-align: center;
	border: 1px solid black;
	padding: 5px;
}

tr:hover {
	background-color: #e4e4e4;
}

.table_title {
	background-color: #003547;
	height: 50px;
}
.column_title {
	width: 250px;
	height: 30px;
	font-weight: bold;
}

.info_table {
	display: none;
}

/* Footer */

footer {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 10%;
	padding: 32px 0px;
	background-color: #003547;
	width: 83.6%;
	margin: auto;
	margin-top: 15px;
	border-radius: 15px;
}

.footer {
	font-size: large;
	font-weight: 600;
	color: #ffffff;
}

/* .footer-text-left {
	font-size: 20px;
	padding-left: 40px;
	float: left;
	word-spacing: 20px;
} */

a.footer {
	background-color: #003547;
	padding: 7.5px;
	border-radius: 15px;
	transition: all 0.7s;
}

a.footer:hover {
	color: #003547;
	background-color: #f16c05;
}

/* Credits */

.credits {
	margin: 15px;
	padding: 20px;
	border: 1px solid #003547;
	border-radius: 15px;
}

/* Responsive */

@media screen and (max-width: 1250px) {
	.table {
		width: 1250;
		overflow-x: auto;
		white-space: nowrap;
	}

	.info_table {
		display: block;
	}
}

@media screen and (max-width: 1000px) {
	.sommaire {
		margin-right: 10%;
	}

	#burger-action {
		display: none;
		margin: auto;
	}

	.nav_burger {
		display: block;
	}
}

@media screen and (max-width: 950px) {
	.nav-item {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	nav {
		flex-direction: column;
		text-align: center;
	}

	main {
		width: auto;
	}
}

@media screen and (max-width: 320px) {
	main {
		padding: 5%;
	}

	.sommaire {
		margin-right: 0%;
	}

	/* #burger-action {
		display: block;
		margin: auto;
	}

	.nav_burger {
		display: block;
	} */
}
iframe {
	margin: 0 auto;
	display: block;
    border-style:none;
}
